<div class="admin-item-container">
  <%- include('partialItemAdminSeller',({item})); %>
  <div class="admin-btn-cluster">
    <button class="delete-btn admin-btn" onclick="deleteElementFromAdmin( '<%=item.ProductId%>' )">Delete</button>
  </div>
</div>
