<header class="flex-row js-bt ai-cn">
    <nav class="nav">
        <div>
            <a href="/"><img class="logo" src="/image/login/logo_steam.svg"></a>
        </div>
        <% if( userType === undefined ) { %>
        <div class="nav-btn-cluster">
            <button id="seller-login-btn" class="btn nav-collapse-btn">Seller Login</button>
            <button id="login-btn" class="btn">Login</button>
            <button id="hamburger-btn" onclick="navDivOpen()">
                <div id="hamburger-inside">
                    <div class="upper-line div-line"></div>
                    <div class="middle-line div-line"></div>
                    <div class="bottom-line div-line"></div>
                </div>
            </button>
        </div>
        <% }else if(userType === 'admin'){ %>
            <div class="flex-row nav-btn-cluster">
                <button onclick="window.location.href='adminDashboard'" class="btn nav-collapse-btn">AdminDashBoard</button>
                <button onclick="window.location.href='product'" class="btn nav-collapse-btn">Product</button>
                <button onclick="window.location.href='myCart'"  class="btn nav-collapse-btn">Cart</button>
                <button id="logout-btn" class="btn">Logout</button>
                <button id="hamburger-btn" onclick="navDivOpen()">
                    <div id="hamburger-inside">
                        <div class="upper-line div-line"></div>
                        <div class="middle-line div-line"></div>
                        <div class="bottom-line div-line"></div>
                    </div>
                </button>
            </div>
        <%}else if(userType === 'seller'){ %>
            <div class="flex-row nav-btn-cluster">
                <p style="margin-right: 20px;" id="user-nav" class="dark-text"><%=user.userName%></p>
                <button onclick="window.location.href = '/sellerPage'" class="btn nav-collapse-btn">SellerDashboard</button>
                <button onclick="window.location.href = '/sellerPage/order'" class="btn nav-collapse-btn">Order</button>
                <button id="logout-btn" class="btn">Logout</button>
                <button onclick="window.location.href = '/changePassword'" class="btn nav-collapse-btn">ChangePassword</button>
                <button id="hamburger-btn" onclick="navDivOpen()">
                    <div id="hamburger-inside">
                        <div class="upper-line div-line"></div>
                        <div class="middle-line div-line"></div>
                        <div class="bottom-line div-line"></div>
                    </div>
                </button>
            </div>
        <%}else{%>
            <div class="flex-row nav-btn-cluster">
                <p style="margin-right: 20px;" id="user-nav" class="dark-text"><%=user.userName%></p>
                <button onclick="window.location.href = '/changePassword'" class="btn nav-collapse-btn">ChangePassword</button>
                <button onclick="window.location.href='product'" class="btn nav-collapse-btn">Product</button>
                <button onclick="window.location.href='myCart'" class="btn nav-collapse-btn">Cart</button>
                <button onclick="window.location.href = '/myOrder'" class="btn nav-collapse-btn">Order</button>
                <button id="logout-btn" class="btn">Logout</button>
                <button id="hamburger-btn" onclick="navDivOpen()">
                    <div id="hamburger-inside">
                        <div class="upper-line div-line"></div>
                        <div class="middle-line div-line"></div>
                        <div class="bottom-line div-line"></div>
                    </div>
                </button>
            </div>
        <%}%>
        </nav>
</header>
<div id="nav-expand-div"></div>
    
<script>

var loginBtn = document.getElementById('login-btn');
var logoutBtn = document.getElementById('logout-btn');
var sellerLoginBtn = document.getElementById('seller-login-btn');

if(logoutBtn==null){
    loginBtn.addEventListener('click',loginFun);
    sellerLoginBtn.addEventListener('click',sellerFun);
}else{
    logoutBtn.addEventListener('click',logoutFun);
}

function sellerFun(){
    window.location.href = '/sellerLogin';
}

function loginFun(){
    window.location.href = "/login";
}

function signupFun(){
    window.location.href = "/signup";
}

function navDivOpen(){
    let openDiv = document.getElementById('nav-expand-div');

    let innerDiv = document.createElement('div');
    innerDiv.setAttribute('id','div-inside-nav-expand');
    
    openDiv.style.width = "75%";
    let blurDiv = document.createElement('div');
    blurDiv.classList.add('blur-back');
    document.body.appendChild(blurDiv);
    let allOption = document.getElementsByClassName('nav-collapse-btn');
    allOption = Array.from(allOption);
    let closeBtn = document.createElement('button');
    closeBtn.setAttribute('id','hamburger-close-btn');
    closeBtn.innerHTML = '<div id="hamburger-inside"><div class="right-cross div-line"></div><div class="left-cross div-line"></div></div>';
    
    openDiv.appendChild(closeBtn);

    openDiv.appendChild(innerDiv);

    for(let i =0;i<allOption.length;++i){
        console.log(allOption[i].innerHTML);
    }

    console.log("Test");

    let i = 0;

    allOption.forEach((element)=>{
        innerDiv.appendChild(element);
        element.classList.remove('nav-collapse-btn');
    })
    

    console.log(allOption);

    closeBtn.addEventListener('click',navDivClose);

}

function navDivClose(){
    let openDiv = document.getElementById('nav-expand-div');
    let innerDiv = document.getElementById('div-inside-nav-expand');
    let allOption = innerDiv.children;
    allOption = Array.from(allOption);
    let headerDiv = document.getElementsByClassName('nav-btn-cluster')[0];


    let i = 0;

    allOption.forEach((element)=>{
        headerDiv.appendChild(element);
        element.classList.add('nav-collapse-btn');
    })

    innerDiv.remove();
    openDiv.style.width = '0%'
    document.getElementsByClassName('blur-back')[0].remove();
}

function logoutFun(){
    // console.log('test');
    window.location.href = "/logout";
}
</script>