<header class="flex-row js-bt ai-cn">
    <div class="nav">
        <div>
            <a href="/"><img class="logo" src="/image/login/logo_steam.svg"></a>
        </div>
        <% if( userType === undefined ) { %>
        <div class="nav-btn-cluster">
            <button id="seller-login-btn" class="btn">Seller Login</button>
            <button id="login-btn" class="btn">Login</button>
        </div>
        <% }else if(userType === 'admin'){ %>
            <div class="flex-row nav-btn-cluster">
                <button onclick="window.location.href='adminDashboard'" class="btn">AdminDashBoard</button>
                <button onclick="window.location.href='product'" class="btn">Product</button>
                <button onclick="window.location.href='myCart'"  class="btn">Cart</button>
                <button id="logout-btn" class="btn">Logout</button>
            </div>
        <%}else if(userType === 'seller'){ %>
            <div class="flex-row nav-btn-cluster">
                <p style="margin-right: 20px;" class="dark-text"><%=user.userName%></p>
                <button onclick="window.location.href = '/sellerPage'" class="btn">SellerDashboard</button>
                <button onclick="window.location.href = '/sellerPage/order'" class="btn">Order</button>
                <button id="logout-btn" class="btn">Logout</button>
                <button onclick="window.location.href = '/changePassword'" class="btn">ChangePassword</button>
            </div>
        <%}else{%>
            <div class="flex-row nav-btn-cluster">
                <p style="margin-right: 20px;" class="dark-text"><%=user.userName%></p>
                <button onclick="window.location.href = '/changePassword'" class="btn">ChangePassword</button>
                <button onclick="window.location.href='product'" class="btn">Product</button>
                <button onclick="window.location.href='myCart'" class="btn">Cart</button>
                <button onclick="window.location.href = '/myOrder'" class="btn">Order</button>
                <button id="logout-btn" class="btn">Logout</button>
            </div>
        <%}%>
    </div>
</header>

<script>
var loginBtn = document.getElementById('login-btn');
var logoutBtn = document.getElementById('logout-btn');
var sellerLoginBtn = document.getElementById('seller-login-btn');

if(logoutBtn==null){
    loginBtn.addEventListener('click',loginFun);
    sellerLoginBtn.addEventListener('click',sellerFun);
}else{
    logoutBtn.addEventListener('click',logoutFun);
}

function sellerFun(){
    window.location.href = '/sellerLogin';
}

function loginFun(){
    window.location.href = "/login";
}

function signupFun(){
    window.location.href = "/signup";
}

function logoutFun(){
    // console.log('test');
    window.location.href = "/logout";
}
</script>