<div class="admin-item-container">
    <img class="item-img" src=<%=`/image/product/${img}`%> alt="">
    <div class="table">
      <div class="tr">
        <div class="td">Title</div>
        <div class="td"><%=title%></div>
      </div>
      <div class="tr">
        <div class="td">Quantity</div>
        <div class="td"><%=quantity%></div>
      </div>
    </div>
    <% if(resolve == true){%>
      <% if(status == true){ %>
        <div class="seller-msg seller-msg-rejected">
          <p>
            <select class="product-key">
              <%for(let i = 0;i<ProductKey.length;++i){ %>
                <option><%=ProductKey[i]%></option>
              <%}%>
            </select>
          </p>
        </div>
      <%}else{%>
        <div class="seller-msg seller-msg-rejected">
          <p>Sorry, Order Rejected By Seller your money will be refunded within 2 business days</p>
        </div>
      <%}%>
    <%}else{%>
      <div class="seller-msg seller-msg-pending">
        <p>Status Pending</p>
      </div>
    <%}%>
  </div>
  