<div class="admin-item-container">
  <%- include('partialItemAdminSeller',({item}));%>
    <div class="admin-btn-cluster">
      <button class="update-btn admin-btn" onclick="updateProduct( '<%=item.ProductId%>' )">Update</button>
      <button class="delete-btn admin-btn" onclick="deleteProduct( '<%=item.ProductId%>' )">Delete</button>
    </div>
  </div>
  