<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/general.css" >
    <link rel="stylesheet" href="styles/cart.css">
</head>
<body>
    <%- include('partials/header',({"userType":userType,"user":user})); %>
    <div class="main-container">
        <div class="title-div">
            <h1 class="title">Cart</h1>
        </div>
        <br>
        <div class="item-container">
            <% for(key in items){%>
                <%- include('partials/cartItem',({"item":items[key]}))%>
                <%}%>
                
                <div class='inner-item-container buy-container'>
                    <div id="price">
                        <p>Estimated Total:</p> 
                        <p id="price-p">₹ <%=price%></p>
                    </div>
                    <div class='buy-btn-cluster'>
                        <button class="buy-btn-comm" id="buy-btn">Purchase for myself</button>
                        <!-- <button class="buy-btn" id="buy-for-other">Purchase as a gift.</button> -->
                    </div>
                </div>
                <div class='inner-item-container continue-shopping'>
                    <p>All Price include VAT where applicable</p>
                    <button class='blue-btn' onclick="window.location.href='/product'">Continue Shopping</button>
                </div>
                <h3 class="delivery-info-title">DELIVERY</h3>
                <div class='inner-item-container delivery-info'>
                    <div class="flex-row" style="gap:10px">
                        <div class="cart-img-container">
                            <img class="cart-img" src="/image/cart/ico_steam_cart.png" alt="">
                        </div>
                        <div>
                            <h4>All digital goods are delivered via the Steam desktop application.</h4>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<script src="/javascript/cart.js"></script>
</html>