<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body style="height: 100vh;">
    <div class="container">
        <h1>New Seller Page</h1>
        <input class="input-form" title="Enter Seller Email" placeholder="Enter email" pattern=".+@+.com" type="email" value="<%=email%>" name="email" id="email" disabled>
        <input class="input-form" title="Name Of Seller" placeholder="Enter Seller Name" type="text" name="name" id="name">
        <input class="input-form" title="UserName of Seller" placeholder="Enter UserName" type="text" name="userName" id="userName">
        <input class="input-form" title="Password" placeholder="Enter Password" type="password" name="password" id="password">
        <p id="err-msg">This Is Dummy</p>
        <button class="submit submit-btn" id="submit-btn">Create Seller</button>
   </div>
</body>
<script src="/javascript/newSeller.js" type="module"></script>
</html>