<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/sellerPage.css">
</head>
<body>
    <%- include('partials/header',{userType,user}) %>
    <div>
        
        <div class="product-container">
            <% for(key in order){ %>
                        <%- include('partials/orderItem',({"item":order[key].product})); %>
            <%}%>
        </div>
    </div>
</body>
<script src="/javascript/sellerPage.js"></script>
</html>