body{
    background-color: #1b2839;
    background: linear-gradient(to bottom right, #1b2839, #070a0e);
    min-height: 100vh;
}

.main-container{
    height: calc( 100vh - 58px);
    overflow: scroll;
}

.container{
    box-sizing: border-box;
    margin: auto;
    max-width: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
}


.seller-container{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: whitesmoke;
    width: 100%;
}

.seller-innser-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}


#addNewSeller{
    width: 50px;
    height: 50px;
    background-color: #c5c3c0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addNewSeller:hover{
    cursor: pointer;
    background: #e7e5e2
}

#newSellerDiv{
    width:400px;
    height: 250px;
    position: fixed;
    background-color: #111924;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    padding: 20px 40px;
}



#addNewSeller:active{
    background: #c5c3c0;
}
.buttonline{
    background-color: #070b0f;
    border-radius: 7px;
    position: absolute;
}
#vertical{
    height: 20px;
    width: 5px;
}
#horizontal{
    height: 5px;
    width: 20px;
}

.table{
    display: table;
}
.td{
    
    border-left: 50px;
}
.tr{
    display: table-row;
}

.tr > .td:first-child{
    border: 0px;
}

.td{
    display: table-cell;
    padding-left: 10px;
    box-sizing: border-box;
}

.product-container{
    display: grid;
    box-sizing: border-box;
    margin: auto;
    color: white;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr) );
    padding: 20px;
    justify-content: baseline;
    align-items: end;
    width: 100%;
}

.admin-item-container{
    margin:0 auto;
    margin-bottom: 30px;
    width: 460px;
}


.admin-btn-cluster{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
}

.seller-heading{
    color: whitesmoke;
    text-align: center;
    margin: 30px;
}


.admin-btn{
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: none;
    flex: 1;
    border-radius: 4px;

}

.update-btn{
    background-color: #ffc107;
    
}
.delete-btn{
    background-color: #dc3545;
}

.seller-container{
    display: flex;
    flex-direction: column;
}

.seller-title{
    justify-content: center;
    align-items: center;
}

.seller-title-btn{
    height: 40px;
    width: fit-content;
    padding: 10px 20px;
    background-color: #ffc107;
    outline: transparent;
    border: none;
    border-radius: 5px;
}

img{
    width: 460px;
    height: 219px;
}

@media screen  and (max-width: 530px){
    .product-container{
        grid-template-columns: auto;
    }
    .admin-item-container{
        box-sizing: border-box;
        width: 100%;
    }
    img{
        width: 100%;
        height: auto;
    }
}